In [46]:
import joblib
import pandas as pd 
import numpy

In [3]:
def edu_trans(df):
    df['education'] = df['education'].replace(['basic.4y', 'basic.6y', 'basic.9y'], 'basic')
    return df

In [4]:
from sklearn import set_config
set_config(transform_output="pandas")

In [75]:
df = pd.read_csv('data/dataset_raw/banking.csv')

In [83]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [5]:
test_pipe = joblib.load('model_dir/Preprocessor/Preprocessor.pkl')
test_pipe

Pipeline(steps=[('categorical Transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ordinal Encoder',
                                                  OrdinalEncoder(categories=[['thu',
                                                                              'fri',
                                                                              'tue',
                                                                              'mon',
                                                                              'wed'],
                                                                             ['unknown',
                                                                              'illiterate',
                                                                              'basic',
                                                                              'high.school',
                                                                              'university.degree',
                                                                              'professional.course'],
                                                                             ['blue-collar',
                                                                              'technician',
                                                                              'management',
                                                                              'services',
                                                                              'retired',
                                                                              'admin.',
                                                                              'housemaid',
                                                                              'un...
                                                   'housing', 'loan',
                                                   'poutcome'])],
                                   verbose_feature_names_out=False)),
                ('Numerical Transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('Scaling Numerical features',
                                                  StandardScaler(),
                                                  ['age', 'duration',
                                                   'campaign', 'pdays',
                                                   'previous', 'emp_var_rate',
                                                   'cons_price_idx',
                                                   'cons_conf_idx', 'euribor3m',
                                                   'nr_employed'])],
                                   verbose_feature_names_out=False))])

In [6]:
processed = test_pipe.fit_transform(df)

In [7]:
processed.head()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,housing_no,housing_unknown,housing_yes,loan_no,loan_unknown,loan_yes,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,0.381527,-0.186230,-0.565922,0.195414,-0.349494,0.839061,-0.227465,0.951267,0.773575,0.845170,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0
1,1.245157,-0.463926,-0.565922,0.195414,-0.349494,-0.115781,-0.649003,-0.323542,0.230456,0.398115,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
2,-1.153816,0.311309,0.156105,-5.117342,3.691766,-1.134279,0.828107,0.151810,-1.667578,-2.428157,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
3,-0.098268,-0.282652,-0.204909,0.195414,-0.349494,-1.197935,-0.864955,-1.425496,-1.277824,-0.940281,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
4,1.437075,-0.467783,-0.565922,-5.133393,1.671136,-1.898153,-2.374889,1.966794,-1.586859,-1.257233,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1

In [8]:
df['y'].head()

0    0
1    0
2    1
3    0
4    1
Name: y, dtype: int64

In [35]:
e

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0

In [47]:
a = {'age': '22', 
     'job': 'blue-collar', 
     'marital': 'married', 
     'education': 'professional.course', 
     'default': 'yes', 
     'housing': 'yes', 
     'loan': 'yes', 
     'contact': 'cellular', 
     'month': 'mar', 
     'day_of_week': 'mon', 
     'duration': '5', 
     'campaign': '5', 
     'pdays': '5', 
     'previous': '4', 
     'poutcome': 
     'nonexistent', 
     'emp_var_rate': '0.2', 
     'cons_price_idx': '94.201', 
     'euribor3m': '3.125', 
     'nr_employed': '4966.6'}

In [38]:
d = pd.DataFrame(a, columns=a.keys(), index=[0])
d.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'euribor3m',
       'nr_employed'],
      dtype='object')

In [39]:
e.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [29]:
import joblib

In [53]:
pre_model = joblib.load("model_dir/Preprocessor/Preprocessor.pkl")
pred_model = joblib.load("prediction_service/production_model.pkl")

In [31]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1 non-null      object
 1   job             1 non-null      object
 2   marital         1 non-null      object
 3   education       1 non-null      object
 4   default         1 non-null      object
 5   housing         1 non-null      object
 6   loan            1 non-null      object
 7   contact         1 non-null      object
 8   month           1 non-null      object
 9   day_of_week     1 non-null      object
 10  duration        1 non-null      object
 11  campaign        1 non-null      object
 12  pdays           1 non-null      object
 13  previous        1 non-null      object
 14  poutcome        1 non-null      object
 15  emp_var_rate    1 non-null      object
 16  cons_price_idx  1 non-null      object
 17  euribor3m       1 non-null      object
 18  nr_employed     1 non-null      object
dtypes: object(19)
memory usage: 160.0+ bytes

In [32]:
{"categorical_cols": ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "poutcome"], "numerical_cols": ["age", "duration", "campaign", "pdays", "previous", "emp_var_rate", "cons_price_idx", "cons_conf_idx", "euribor3m", "nr_employed", "y"]}

{'categorical_cols': ['job',
  'marital',
  'education',
  'default',
  'housing',
  'loan',
  'contact',
  'month',
  'day_of_week',
  'poutcome'],
 'numerical_cols': ['age',
  'duration',
  'campaign',
  'pdays',
  'previous',
  'emp_var_rate',
  'cons_price_idx',
  'cons_conf_idx',
  'euribor3m',
  'nr_employed',
  'y']}

In [47]:
df = pd.read_csv('data/dataset_processed/banking_processed.csv')

In [48]:
e = df.head(1)

In [50]:
e = e.drop(['y'], axis=1)

In [51]:
e

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,default_unknown,housing_no,housing_unknown,housing_yes,loan_no,loan_unknown,loan_yes,poutcome_failure,poutcome_nonexistent,poutcome_success
0,-0.372582,0.080628,-0.185958,0.19226,-0.347528,-0.104706,-0.627666,-0.323935,0.272053,0.40268,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [45]:

da = pre_model.transform(e)

In [54]:
pred = pred_model.predict(e)

In [55]:
pred

array([0])

In [67]:
a = {'age': '21', 'job': 'blue-collar', 'marital': 'married', 'education': 'professional.course', 'default': 'yes', 'housing': 'yes', 'loan': 'yes', 'contact': 'cellular', 'month': 'mar', 'day_of_week': 'mon', 'duration': '5', 'campaign': '5', 'pdays': '5', 'previous': '4', 'poutcome': 'nonexistent', 'emp_var_rate': '0.6', 'cons_price_idx': '94.201', 'cons_conf_idx': '-27.8', 'euribor3m': '4.634', 'nr_employed': '4965.6'}

In [1]:
import joblib
import pandas as pd 
import numpy as np

In [48]:
pre = joblib.load('model_dir/Preprocessor/Preprocessor.joblib')
pred = joblib.load('prediction_service/production_model.pkl')

In [68]:
# list(a.items())
# array = np.array(list(a.items()))
# array[0]
a

{'age': '21',
 'job': 'blue-collar',
 'marital': 'married',
 'education': 'professional.course',
 'default': 'yes',
 'housing': 'yes',
 'loan': 'yes',
 'contact': 'cellular',
 'month': 'mar',
 'day_of_week': 'mon',
 'duration': '5',
 'campaign': '5',
 'pdays': '5',
 'previous': '4',
 'poutcome': 'nonexistent',
 'emp_var_rate': '0.6',
 'cons_price_idx': '94.201',
 'cons_conf_idx': '-27.8',
 'euribor3m': '4.634',
 'nr_employed': '4965.6'}

In [39]:
num_cols =["age", "duration", "campaign", "pdays", "previous", "emp_var_rate", "cons_price_idx", "cons_conf_idx", "euribor3m", "nr_employed"]

In [40]:
data = { key: (eval(val) if key in num_cols else val) for (key, val) in a.items() }

In [49]:
data

{'age': 21,
 'job': 'blue-collar',
 'marital': 'married',
 'education': 'professional.course',
 'default': 'yes',
 'housing': 'yes',
 'loan': 'yes',
 'contact': 'cellular',
 'month': 'mar',
 'day_of_week': 'mon',
 'duration': 5,
 'campaign': 5,
 'pdays': 5,
 'previous': 4,
 'poutcome': 'nonexistent',
 'emp_var_rate': 0.6,
 'cons_price_idx': 94.201,
 'cons_conf_idx': -27.8,
 'euribor3m': 4.634,
 'nr_employed': 4965.6}

In [69]:
data1 = pd.DataFrame(a, columns=a.keys(), index=[0]).copy()

In [70]:
data1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,21,blue-collar,married,professional.course,yes,yes,yes,cellular,mar,mon,5,5,5,4,nonexistent,0.6,94.201,-27.8,4.634,4965.6

In [71]:
data1.dtypes

age               object
job               object
marital           object
education         object
default           object
housing           object
loan              object
contact           object
month             object
day_of_week       object
duration          object
campaign          object
pdays             object
previous          object
poutcome          object
emp_var_rate      object
cons_price_idx    object
cons_conf_idx     object
euribor3m         object
nr_employed       object
dtype: object

In [72]:
aa = pre.transform(data1)

/home/amaithi/anaconda3/envs/ml_ops/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [54]:
aa

array([[ 7.07857739e-01, -9.08418289e-01, -1.56933397e-01,
         9.53400720e-01, -2.16576135e+00,  2.36478107e+00,
        -3.39290498e-01,  3.97705932e-01, -1.85700002e-01,
        -1.82552874e+00,  5.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  5.00000000e+00,
         5.00000000e+00,  5.00000000e+00,  4.00000000e+00,
         6.00000000e-01,  9.42010000e+01, -2.78000000e+01,
         4.63400000e+00,  4.96560000e+03]])

In [73]:
predd = pred.predict(aa)

/home/amaithi/anaconda3/envs/ml_ops/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [74]:
predd.tolist()[0]

0